@media (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  .hide-sidebar {
    transform: translateX(-100vw);
  }

  .mobile-top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 900;
    border-bottom: 1px solid #dbdbdb;
  }
  .burger-menu img,
  .noti-icon img {
    width: 35px;
  }
  .burger-menu {
    position: absolute;
    top: 30px;
    left: 5%;
  }
  .noti-icon {
    position: absolute;
    top: 30px;
    right: 5%;
  }
  .close-icon {
    display: block;
    position: absolute;
    right: 5%;
    top: 25px;
  }
  .close-icon img {
    width: 30px;
  }
  .custom_sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 5%;
    padding-left: 2%;
    transition: all 0.3s ease-in-out;
    border: none;
  }
  .custom_sidebar.pt-5 {
    padding-top: 15% !important;
  }

  .custom_sidebar .mini-logo {
    display: none;
  }
  .custom_sidebar .justify-content-center {
    justify-content: unset !important;
    width: 105%;
  }
  .custom_sidebar a {
    padding-left: 0 !important;
    font-size: 1.2rem;
  }
  .custom_sidebar .create_event_btn {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 20% !important;
    display: flex;
    justify-content: center;
  }
  .custom_sidebar .profile_user {
    right: unset;
    left: 5%;
    bottom: 20%;
    transform: scale(1.1);
  }

  /* custom_main_contents styling */
  .custom_main_contents {
    margin-left: 0 !important;
    padding: 0 !important;
    width: 100%;
  }
  .custom_main_contents.pt-5 {
    padding-top: 100px !important;
  }

  .custom_rightbar {
    display: none;
  }

  /* profile page starts */
  /* ... */
  #profile-page .profile_card.py-3 {
    padding: 0.5rem !important;
  }
  #profile-page .profile_card .flex-column {
    margin: 0 !important;
  }
  #profile-page .profile_card .flex-column:first-child {
    width: 30% !important;
  }
  #profile-page .profile_card .flex-column:last-child {
    width: 70% !important;
  }
  #profile-page .profile_card .numbers {
    margin-top: 5%;
  }
  #profile-page .profile_card .numbers .flex-column {
    width: calc(100% / 3) !important;
    padding: 0 !important;
    align-items: center;
  }
  #profile-page .profile_card .numbers .tag_count_number {
    font-size: 20px;
  }
  #profile-page .profile_card .actions {
    padding-left: 5%;
    justify-content: space-between;
  }
  #profile-page .profile_card .actions .mr-5 {
    margin-right: 0 !important;
  }
  #profile-page .tab_container li {
    font-size: 14px;
  }

  /* #chat page mobile styles */
  #chat-page .go-back {
    position: sticky;
    top: 80px;
    z-index: 100;
    background-color: white;
    padding-top: 10px;
  }
  .all-messages {
    padding-bottom: 200px !important;
  }
  .user_chat_message_sender .ml-auto {
    margin-left: unset !important;
    align-items: flex-start;
    width: 100% !important;
    max-width: unset !important;
    align-items: flex-end;
  }
  .send_message_container {
    box-sizing: border-box;
    width: 92% !important;
    padding-bottom: 25px !important;
  }

  .order-2 {
    font-size: 18px !important;
  }
}
